# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
*.log

# Virtual environments
venv/
.env/
.env.*

# Node / frontend
node_modules/
dist/
.cache/
.next/
out/

# Docker
*.pid
*.seed
*.pid.lock
.docker/
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db